.player {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.player iframe {
    border-radius: 10px;
    width: 90vw;       /* responsive width */
    max-width: 1000px; /* don’t exceed big screens */
    height: 50vw;      /* keep aspect ratio on smaller screens */
    max-height: 600px;
}

.player-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .player iframe {
        width: 100vw;
        height: 56vw;  /* 16:9 ratio */
    }
}
